body {
    background-color: rgb(233, 233, 233) !important;
    padding: 0;
    margin: 0;
}

.body-flex {
    margin: 0 auto;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 1px 6px rgb(244, 244, 244);

}

.main-container {
    justify-content: center;
    align-items: center;
}
.banner-bg {
    background-color: #307fe2;
    padding: 24px 0 36px 16px;
    height: 30px;
    width: 100%;
}

/* .search-bar {
    background-color: #307fe2;
    padding: 0 16px;
    height: 48px;
} */

.bot-div {
    position: relative;
    padding-top: 0.5rem;
    height: 158px;
    background: transparent;
}

.bottom-blue {
    background-color: #307fe2;
    padding: 86.63px 0 0;
    top: 0;
    margin-top: -0.5rem;
    height: 86.63px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.content-flex {
    height: 200px;
    margin-top: 32px;
    display: flex;
}

.content-grid {
    display: grid;
    grid-template-columns: 
        repeat(4,minmax(56px,56px));
    width: 100%;
    justify-content: space-evenly;
}

.icon-menu {
    flex: none;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.icon-menu a {
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.icon-menu a:hover {
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.width-menu-item {
    width: 56px;
}

.menu-item {
    box-shadow: 0 1px 6px rgb(34, 34, 34, .2);
    overflow: hidden;
    opacity: 1;
    height: 56px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
    border-radius: 8px;
    --bg-opacity: 1;
    background: rgba(255, 255, 255, var(--bg-opacity));
}

.menu-image {
    width: 100%;
    padding: 0.25rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu-text {
    overflow-wrap: break-word;
    text-align: center;
    margin-top: 0.25rem;
    line-height: 1rem;
    font-size: 11px;
    font-family: Roboto, sans-serif;
}

.content-center {
    margin-top: 2rem;
}

.text-subtitle {
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.text-subtitle h1 {
    line-height: 2rem;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.content-center p {
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 11px;
    line-height: 1rem;
    font-weight: 400;
    --text-opacity: 1;
    color: rgba(34, 34, 34, var(--text-opacity));
}

.slider-menu {
    cursor: pointer;
    width: 100%;
    user-select: none;
    padding: 0.5rem 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    height: 100%;
}

.slider-menu-flex {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
}

.slider-menu-scroll {
    width: 100%;
    flex: none;
    flex-direction: row;
    display: flex;
}

.slider-menu-scroll a {
    color: inherit;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    text-decoration-thickness: auto;
    background-color: transparent;
}

.slider-menu-height {
    height: 100%;
}

.space-slider {
    margin: 0 4px;
}

.inner-slider-menu {
    width: 148px;
    user-select: none;
    box-shadow: 0 1px 6px rgb(34, 34, 34, .2);
    overflow: hidden;
    opacity: 1;
    min-height: 238px;
    height: 100%;
    font-family: Roboto, sans-serif;
    flex-direction: column;
    display: flex;
    cursor: pointer;
    border-radius: 0.5rem;
    --bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
}

.top-inner {
    padding-top: 80%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.inner-img {
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
}

.center-inner {
    width: 100%;
    padding: 0.75rem 0.5rem;
}

.text-base {
    font-size: 12px;
}

.line-clamp {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.text-flex {
    flex-direction: row;
    display: flex;
}

.text-desc {
    font-size: 11px;
    --text-opacity: 1;
    color: rgba(155, 155, 155, var(--text-opacity));
}

.disc-inner-amount {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.price-discount {
    vertical-align: middle;
    user-select: none;
    text-transform: capitalize;
    --text-opacity: 1;
    color: rgba(255, 255, 255, var(--text-opacity));
    text-align: center;
    padding: 0 0.25rem;
    opacity: 1;
    font-size: 11px;
    height: 1rem;
    font-family: Roboto,sans-serif;
    justify-content: center;
    flex-direction: row;
    display: flex;
    border-radius: 0.25rem;
    --bg-opacity: 1;
    background-color: rgba(243,48,48,var(--bg-opacity));
}

.strikethrough {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    text-decoration: line-through;
    --text-opacity: 1;
    color: rgba(155,155,155,var(--text-opacity));
    font-size: 11px;

}

.price-amount {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-right: 0.5rem;
    --text-opacity: 1;
    color: rgba(239,96,0,var(--text-opacity));
    line-height: 1.25;
    font-size: 16px;
    font-weight: 700;
}

.footer-inner {
    width: 100%;
    padding-bottom: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: auto;
    flex-grow: 1;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
}

.footer-inner-flex {
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    display: flex;
}

.footer-inner-flex-center {
    align-items: center;
    flex-direction: row;
    display: flex;
}

.footer-inner-text {
    --text-opacity: 1;
    color: rgba(155,155,155,var(--text-opacity));
    font-size: 11px;
}

.payment-method {
    padding: 1.5rem 1rem;
    margin: .75rem auto;
    height: 144px;
}

.payment-method h2 {
    --text-opacity: 1;
    color: rgba(34,34,34,var(--text-opacity));
    text-align: center;
    line-height: 1.5rem;
    font-size: 16px;
    font-weight: 700;
    background-color: white;
}

.logo-payment-img {
    text-align: center;
    margin-top: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.see-all {
    display: flex;
    justify-content: center;
}

.see-all a {
    margin-bottom: 1rem;
}

footer {
    height: 241px;
}

.slider-container {
    width: 100%;
    border-radius: 0.5rem;
    z-index: 10;
    position: absolute;
    top: 10px;
}

.promo-slider-hidden {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    flex-direction: column;
    display: flex;
}

.promo-slider-flex {
    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
}

.promo-banner {
    width: 100%;
    padding: 0 1rem;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: transparent;
}

.promo-banner a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

.promo-img {
    padding-top: 25%;
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 37.5rem;
    border-radius: 0.5rem;
    --bg-opacity: 1;
    background-color: rgba(244,244,244,var(--bg-opacity));
}

.promo-img img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;width: 100%;
    top: 0;
    position: absolute;
    object-fit: cover;
    height: 100%;
    border-radius: 0.5rem;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    max-width: 100%;
    display: block;
}

#owl-one {
    animation-duration: 800ms;
    animation-fill-mode: both;
}

.owl-dots {
    text-align: left !important;
    margin-left: 25px;
    margin-top: 0 !important;
}

.owl-theme .owl-dots .owl-dot span {
    width: 5px !important;
    height: 5px !important;
    margin: 2px !important;
}

#owl-two.owl-drag .owl-item {
    width: 160px !important;
}

nav {
    width: 100%;
    bottom: 0;
    position: fixed;
    padding-top: 0.25rem;
    overflow: hidden;
    z-index: 100;
}

.nav-flex {
    width: 100%;
    user-select: none;
    box-shadow: 0 -0.25px 0 rgb(34, 34, 34, .3);
    bottom: 0;
    position: sticky;
    padding-top: 0.25rem 0;
    max-width: 37.5rem;
    height: 52px;
    font-family: Roboto, sans-serif;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    display: flex;
    --bg-opacity: 1;
    background-color: rgba(255,255,255,var(--bg-opacity));
}

.nav-flex a {
    text-decoration: none;
    background-color: transparent;
    color: inherit;
}

.nav-items {
    width: 68px;
    position: relative;
    align-items: center;
    flex-direction: column;
    display: flex;
    cursor: pointer;
}

.nav-img {
    height: 24px;
    width: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.nav-img img {
    height: 24px;
    width: 24px;
    max-width: 100%;
    display: block;
}

.nav-text {
    color: black;
    margin-top: 0.25rem;
    font-size: 11px;
}

.col-4 {
    flex: 0 !important;
}

.for-card {
    height: 400px;
}